html {
    background-color: #f4eeec;
    color: #745648;
}

h1{
    font-family: Lobster, 'Times New Roman', Times, serif;
    font-size: 10vh;
    margin: 0;
}

h2{
    font-family: Quicksand, 'Times New Roman', Times, serif;
    font-size: 7vh;
    margin: .5em 0;
}

h3 {
    font-family: Quicksand, 'Times New Roman', Times, serif;
    font-size: 3vh;
    font-weight: 700;
    margin: 0;
}

p {
    font-family: Quicksand, 'Times New Roman', Times, serif;
    font-size: 2vh;
    font-weight: 500;
    padding: .5em 0 0 0;
    margin-top: 0;
}

body{
    display: flex;
    flex-direction: column;
}

nav {
    background-color: #f4eeec;
    position: sticky;
    top: 0;
    display: grid;
    grid-template:1fr / 1fr 1fr 1fr;
    padding: 0.5vh 2.5vw 0 2.5vw;
    }

nav .logo {
    grid-column: 1;
}

nav .logo img {
    min-width: 50px;
    width:5vw;
}

nav .nav {
    grid-column: 3;
}

nav ul {
    display: flex;
    gap: 2vw;
}

nav li {
    font-family: Quicksand, 'Times New Roman', Times, serif;
    text-decoration: none;
    color: #54423a;
    font-size: 2vh;
    font-weight: 500;
    display: flex; 
    align-items: center;
}

nav li:hover { 
    text-shadow: 0em .5em .5em #aa9288;
}

nav li a {
    color: #54423a;
}

nav .selected {
    font-weight: 900;
}

nav button {
    background-color: #745648; 
    border: 3px solid #4d4a49;
    padding: 0 2vw;
    border-radius: 12px;
}

nav button:hover {
    box-shadow: 0 .5vw .5vh 0  #aa9288, 0 .5vw .5vh 0  #e2dad6;
}

nav button a {
    text-align: center;
    text-decoration: none;
    font-family: Quicksand, 'Times New Roman', Times, serif;
    font-size: 2vh;
    color: white;
}

/* MAIN  */

main .hero {
    background-color: #e2dad6;
    height: 50vh;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

main .content {
    padding: 0 5vw;
    display: flex;
    flex-direction: column;
}

header {
    padding: 3vh 5vw 3vh 0;
    margin: 0 5vw;
}

/* HIGHLIGHTS */

.highlights {
    display: grid;
    grid-template:1fr 1fr 1fr/ 2fr 2fr;
    gap: 1vw;
    justify-content: center;
    margin: 0 0 3em 0;
    padding: 0 5vw;
}

.tile {
    border: .2em solid #745648;
    border-radius: 30px;
    padding: 2vw;
    display: grid;
    grid-template: 1fr/ 1fr 2fr;
}

.tile img {
    width: 10vw;
    height: 10vw;
    min-width: 80px;
    min-height: 80px;
    border-radius: 30px;
    object-fit: cover;
    overflow: hidden;
    align-self: center;
}

.tile div {
    grid-column: 2;
    grid-row: 1;
}

/* FOOTER */

footer {
    background-color: #745648;
    display: grid;
    grid-template:1fr 3fr / 1fr 1fr 1fr ;
    color: #f4eeec;
    padding: 0 5vw 5vh 5vw;
}

footer section {
    margin: 0 5vw;
}
.footer-head {
    grid-column-start: 1;
    grid-column-end: 4;
}

.footer-form {
    grid-column-start: 3;
    grid-column-end: 4;
    display: flex;
    flex-direction: column;
}

.footer-form h3 {
    padding: 0 .5em 1em 0;
    align-content: start;
}

footer ul {
padding: 0;
}

footer li {
    font-family: Quicksand, 'Times New Roman', Times, serif;
    font-size: 2vh;
    font-weight: 500; 
    list-style-type: none;
}

footer li:hover { 
    text-shadow: 5px 5px 5px #aa9288;
}

footer li a {
    color: #f4eeec;
}


/* FORM */
form {
    display: grid;
    grid-template: 1fr/20vw 20vw;
    font-family: Quicksand, 'Times New Roman', Times, serif;
    font-size: 2vh;
    font-weight: 500; 
    gap: 10px;
}

form div {
    display: flex;
    flex-direction: column;
}
form input {
    width:15vw;
    border-radius: 15px;
    padding: 10px;
    background-color: #f4eeec;
}

form .email {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
}

form .message {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 3;
}

form .submit {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 4;
}

form textarea {
    width: 36vw;
    border-radius: 15px;
    padding: 10px;
    background-color: #f4eeec;
}

form input:hover {
  background-color: #aa9288;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  color: #f4eeec;
}


@media (min-width: 626px) {
    .footer-item {
        width: 30vw;
    }
}


  @media (max-width: 625px) {
    h1{
        font-size: 6vh;
    }
    h2 {
        font-size:4vh;
    }

    h3 {
        font-size: 2vh;
    }
    /* Issue with Nav, why is it right aligned?? I want it to take up the whole space but idk please help i cannot figure this out and its throwing everything off :'(*/
    nav {
        position: static;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .logo img {
        min-width: 150px; 
    }
    /* trying to get sticky nav only, not logo */
    .nav {
        width: 100%;
        background-color: #f4eeec;
    }

    .nav ul {
        flex-direction: row;
    }

    main .hero {
        height: 20vh;
    }
    header {
        padding: 1em 0 1em 0;
    }
    .highlights{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    footer {
        display: flex;
        flex-direction: column;
        /* width: 100%; */
    }
    footer ul {
        display: flex;
        justify-content: center;
        margin: 0 0 20px 0;
        gap: 20px;
    }
    form {
        grid-template: 1fr/1fr 1fr;
    }
    form input {
        width:32vw;
    }
    form .email {
        width: 74vw;
    }
    form textarea {
        width: 74vw;
    }
    .submit {
        grid-column-end: 2;
        grid-column-start: 1;
        grid-row: 5;
    }
}